<div class="straw"></div>
<div class="container">
  <div class="header">
    <h1 class="topComment">Think. Sleep. <span class="responsiveBreak"></span><span class="rightHandText">Rinse. Repeat.</span></h1>
    <!-- <div class="topLinks">
      <i class="resume fas fa-file-alt fa-2x"></i>
      <i class="linkedin fab fa-linkedin fa-lg"></i>
      <i class="github fab fa-github-square fa-2x"></i>
    </div> -->
  </div>
  <div class="topLeftDash"></div>
  <div class="bottomLeftDash"></div>
  <div class="topRightDash"></div>
  <div class="bottomRightDash"></div>
</div>
