.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.header {
  position: relative;
  width: 95%;
  height: 60px;
  border: 2px solid black;
  border-radius: 10px 10px 0 0;
  margin-top: 90px;
  background: rgb(182,193,194);
  background: linear-gradient(342deg, rgba(182,193,194,0.639093137254902) 0%, rgba(107,122,125,0.6054796918767507) 50%, rgba(182,193,194,1) 100%);
  box-shadow: 0px 1px 1px rgba(000,000,000,0.8), inset 1px 2px 0px rgba(255,255,255,0.8), inset 10px 0 5px -2px #888, inset -10px 0 5px -2px #888;;
}

.topComment {
  position: absolute;
  left: 1%;
  top: -105%;
  font-size: 50px;
}

.topLeftDash,
.bottomLeftDash,
.topRightDash,
.bottomRightDash {
  position: absolute;
  height: 3px;
  width: 7%;
  background-color: black;
}

.topLeftDash {
  margin-top: 105px;
  left: 2.5%;
}

.bottomLeftDash {
  margin-top: 130px;
  left: 2.5%;
}

.topRightDash {
  margin-top: 105px;
  right: 2.5%;
}

.bottomRightDash {
  margin-top: 130px;
  right: 2.5%;
}

.straw {
  position: absolute;
  width: 60px;
  height: 90px;
  right:10%;
  transform: skew(-5deg);
  border: 1px solid black;
  background: rgb(0,0,0);
  background: linear-gradient(275deg, rgba(0,0,0,0.639093137254902) 0%, rgba(51,43,43,1) 100%);
  box-shadow: 0px 1px 1px rgba(000,000,000,0.8), inset 1px 2px 0px rgba(255,255,255,0.8);
  /* animation: strawAnimation 3s infinite ease-in-out; */
}

@keyframes strawAnimation {
  0%   {transform: skew(-5deg) translateX(0)}
  /* 25%  {transform: skew(-5deg) translateX(20px)} */
  50%  {transform: skew(0deg) translateX(-100%)}
  /* 75%  {transform: skew(-5deg) translateX(25px)} */
  100% {transform: skew(-5deg) translateX(0)}
}

@media only screen and (min-width: 1000px) {
  .topComment {
    white-space: nowrap;
  }
}

@media only screen and (max-width: 920px) {
  .topComment {
    font-size: 40px;
    top: -90%;
  }
}

@media only screen and (max-width: 750px) {
  .topComment {
    font-size: 30px;
    top: -70%;
  }
}

@media only screen and (max-width: 630px) {
  .responsiveBreak {
    display: block;
  }

  .topComment {
    top: -155%;
  }

  .rightHandText {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 420px) {
  .rightHandText {
    margin-left: 0;
  }

  .topComment {
    font-size: 25px;
    top: -125%;
  }
}

