<div class="container">
  <div class="boba-row">
    <a class="boba1">
      <img class ="boba-pearls" src="../../assets/images/single-pearl-edited.png" alt="tapioca by Likous from the Noun Project">
    </a>
    <a class="boba2">
      <i class="resume fas fa-file fa-2x"></i>
      <img class ="boba-pearls b2" src="../../assets/images/single-pearl-edited.png" alt="tapioca by Likous from the Noun Project">
    </a>
    <a class="boba3">
      <i class="linkedin fab fa-linkedin fa-lg"></i>
      <img class ="boba-pearls b3" src="../../assets/images/single-pearl-edited.png" alt="tapioca by Likous from the Noun Project">
    </a>
    <a class="boba4">
      <i class="github fab fa-github-square fa-2x"></i>
      <img class ="boba-pearls b4" src="../../assets/images/single-pearl-edited.png" alt="tapioca by Likous from the Noun Project">
    </a>
    <a class="boba5">
      <img class ="boba-pearls" src="../../assets/images/single-pearl-edited.png" alt="tapioca by Likous from the Noun Project">
    </a>
  </div>

</div>
