.container {
  display: flex;
  align-items: center;
  width: 95%;
  height: 160px;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 0 0 90px 90px;
  background: rgb(175,98,31);
  background: linear-gradient(180deg, rgba(175,98,31,0.639093137254902) 0%, rgba(191,118,70,1) 100%);
}

.boba-row, a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.boba-pearls:hover,
.resume:hover ~ .b2,
.linkedin:hover ~ .b3,
.github:hover ~ .b4 {
  background-color: white;
  border-radius: 50px;
}

.resume,
.linkedin,
.github,
.b2,
.b3,
.b4 {
  cursor: pointer;
}


.boba-pearls {
  width: 80px;
}

.boba1,
.boba3,
.boba5 {
  margin-bottom: 5%;
}

.boba2,
.boba4 {
  margin-top: 5%;
}

.boba2,
.boba3,
.boba4 {
  position: relative;
}

.resume,
.linkedin,
.github {
  position: absolute;
  color: white;
  z-index: 1000;
}

.linkedin {
  border: 1px solid white;
  padding: 4px;
}

/* start of animation of top boba row */
@keyframes topBobaAnimation {
  0%   {transform: translateY(0) rotate(0)}
  25%  {transform: translateY(20px) rotate(90deg)}
  50%  {transform: translateY(50px) rotate(270deg)}
  75%  {transform: translateY(25px) rotate(300deg)}
  100% {transform: translateY(0) translate(360deg)}
}

.b1,
.b3,
.b5 {
  animation: topBobaAnimation 20s infinite;
}

@keyframes topRowBobaImages {
  0%   {transform: translateY(0)}
  25%  {transform: translateY(20px)}
  50%  {transform: translateY(50px)}
  75%  {transform: translateY(25px)}
  100% {transform: translateY(0)}
}

.linkedin {
  animation: topRowBobaImages 20s infinite;
}
/* end of animation of top boba row */

/* start of animation of bottom boba row */
@keyframes bottomBobaAnimation {
  0%   {transform: translateY(0) rotate(0)}
  25%  {transform: translateY(-10px) rotate(90deg)}
  50%  {transform: translateY(-30px) rotate(270deg)}
  75%  {transform: translateY(-10px) rotate(300deg)}
  100% {transform: translateY(0) translate(360deg)}
}

.b2,
.b4 {
  animation: bottomBobaAnimation 20s infinite;
}

@keyframes bottomRowBobaImages {
  0%   {transform: translateY(0)}
  25%  {transform: translateY(-10px)}
  50%  {transform: translateY(-30px)}
  75%  {transform: translateY(-10px)}
  100% {transform: translateY(0)}
}

.resume,
.github {
  animation: bottomRowBobaImages 20s infinite;
}
/* end of animation of bottom boba row */


