<div class="container">
  <div class="boba-row">
    <a class="boba1">
      <img class ="boba-pearls b1" src="../../assets/images/single-pearl-edited.png" alt="tapioca by Likous from the Noun Project">
    </a>
    <a class="boba2" href="../../assets/Kelvin Huynh Resume.pdf" target="_blank">
      <i class="resume fas fa-file-alt fa-2x"></i>
      <img class ="boba-pearls b2" src="../../assets/images/single-pearl-edited.png" alt="tapioca by Likous from the Noun Project">
    </a>
    <a class="boba3" href="https://www.linkedin.com/in/kelvin-huynh-48467b113/" target="_blank">
      <i class="linkedin fab fa-linkedin fa-lg"></i>
      <img class ="boba-pearls b3" src="../../assets/images/single-pearl-edited.png" alt="tapioca by Likous from the Noun Project">
    </a>
    <a class="boba4" href="https://github.com/khuynh16" target="_blank">
      <i class="github fab fa-github-square fa-2x"></i>
      <img class ="boba-pearls b4" src="../../assets/images/single-pearl-edited.png" alt="tapioca by Likous from the Noun Project">
    </a>
    <a class="boba5">
      <img class ="boba-pearls b5" src="../../assets/images/single-pearl-edited.png" alt="tapioca by Likous from the Noun Project">
    </a>
  </div>
</div>
