.container {
  width: 95%;
  height: auto;
  border: 1px solid black;
  margin: auto;
  background-color: #FFF5BA;
}

.intro-message {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 40px 0;
}

.name-message {
  font-weight: bold;
  margin-bottom: 10px;
}
