.technologies {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  overflow: hidden;
  position: relative;
}

.technologiesColumns {
  display: flex;
  text-align: center;
  width: 85%;
  margin: auto;
}

.frontend,
.backend,
.deploymentAndTools {
  flex-grow: 1;
  width: 33.3%;
}

.title {
  text-align: center;
  margin: 40px 0;
  font-weight: bold;
}

h3 {
  margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
  .technologiesColumns {
    flex-direction: column;
    align-items: center;
  }

  .frontend,
  .backend {
    margin-bottom: 20px;
  }

  .deploymentAndTools {
    width: 80%;
  }
}

/* .technologies:after {
  animation: shine 8s ease-in infinite;
  content: "";
  position: absolute;
  top: 0;
  left: -80%;
  width: 50px;
  height: 100%;
  background: hsl(0deg 17% 85% / 40%);
  transform: skew(-10deg);
}

@keyframes shine {
  0% {
    left: -20%;
  }
  15% {
    left: 400%;
  }
  100% {
    left: 400%;
  }
} */
