<div class="technologies">
  <h2 class="title">--- Dev Tech ---</h2>
  <div class="technologiesColumns">
    <div class="frontend">
      <h3>Frontend</h3>
      <div class="frontendTech">
        <p>Angular</p>
        <p>Bootstrap</p>
        <p>CSS</p>
        <p>HTML</p>
        <p>JavaScript</p>
        <p>CSS</p>
      </div>
    </div>
    <div class="backend">
      <h3>Backend</h3>
      <div class="backendTech">
        <p>Express.js</p>
        <p>Node.js</p>
        <p>MongoDB</p>
        <p>Mongoose</p>
      </div>
    </div>
    <div class="deploymentAndTools">
      <h3>Deployment & Tools</h3>
      <div class="deploymentAndToolsTech">
        <p>AWS Elastic Beanstalk</p>
        <p>AWS S3</p>
        <p>Github</p>
        <p>Heroku</p>
        <p>MongoDB Atlas</p>
        <p>Visual Studio Code</p>
      </div>
    </div>
  </div>
</div>
