<div class="container">
  <div class="receiptOutline">
    <div class="receiptHeading">
      <div class="firstRowHeading">
        <h2 class="orderNumber">#001</h2>
        <h2 class="time">5:03 PM</h2>
      </div>
      <div class="secondRowHeading">
        <h2 class="orderServer">Service By: KH</h2>
      </div>
    </div>
    <hr class="dottedLine">
    <div class="technologies">
      <h2 class="title">--- Dev Tech ---</h2>
      <div class="technologiesColumns">
        <div class="frontend">
          <h3>Frontend</h3>
          <div class="frontendTech">
            <p>Angular</p>
            <p>Bootstrap</p>
            <p>CSS</p>
            <p>HTML</p>
            <p>JavaScript</p>
            <p>CSS</p>
          </div>
        </div>
        <div class="backend">
          <h3>Backend</h3>
          <div class="backendTech">
            <p>Express.js</p>
            <p>Node.js</p>
            <p>MongoDB</p>
            <p>Mongoose</p>
          </div>
        </div>
        <div class="deploymentAndTools">
          <h3>Deployment & Tools</h3>
          <div class="deploymentAndToolsTech">
            <p>AWS Elastic Beanstalk</p>
            <p>AWS S3</p>
            <p>Github</p>
            <p>Heroku</p>
            <p>MongoDB Atlas</p>
            <p>Visual Studio Code</p>
          </div>
        </div>
      </div>
    </div>
    <hr class="dottedLine">
    <div class="projects">
      <h2 class="title">--- Projects --- </h2>
      <div class="projectBoxes">
        <!-- <hr class="projectHr"> -->
        <div class="firstProject">
          <img class="projectImage" src="../../../assets/images/viet4me-project2.png" alt="">
          <div class="overlay">
            <div class="text">Hello World</div>
          </div>
        </div>
        <!-- <hr class="projectHr"> -->
        <div class="secondProject">
          <img class="projectImage" src="" alt="">
        </div>
        <!-- <hr class="projectHr"> -->
        <div class="thirdProject">
          <img class="projectImage" src="" alt="">
        </div>
        <!-- <hr class="projectHr"> -->
      </div>
    </div>
    <hr class="dottedLine">
    <div class="costOfOrder">
      <h3>Subtotal, Tax, and Total:</h3>
      <h3 class="smileAndWave">Smiles and Waves<i class="fas fa-smile-beam"></i><i class="fas fa-hand-paper"></i></h3>

    </div>
  </div>
</div>
