.container {
  width: 95%;
  height: auto;
  border: 2px solid black;
  border-top: 0;
  margin: auto;
  margin-top: -40px;
  background-color: #FFF5BA;
}

.receiptOutline {
  border: 1px solid black;
  width: 85%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: whitesmoke;
  border-radius: 5px;
}

.dottedLine {
  border-top: dotted 1px;
  width: 85%;
  margin: auto;
}

.title {
  text-align: center;
  margin: 40px 0;
  font-weight: bold;
}

h3 {
  margin-bottom: 10px;
}
