<div class="projects">
  <h2 class="title">--- Projects --- </h2>
  <div class="projectBoxes">
    <div class="firstProject">
      <img class="projectImage" src="../../../assets/images/viet4me-project2.png" alt="">
      <div class="overlay">
        <p class="overlayText">Language translator meets Quizlet application</p>
        <div class="buttons">
          <a href="http://viet4me.s3-website.us-east-2.amazonaws.com/landing-page" target="_blank">To Site</a>
          <a href="https://github.com/khuynh16/Viet4Me" target="_blank">More Details</a>
        </div>
      </div>
    </div>
    <div class="secondProject">
      <img class="projectImage" src="../../../assets/images/gorgeous-nails.png" alt="">
      <div class="overlay">
        <p class="overlayText">Point of sales system for a nail salon</p>
        <div class="buttons">
          <a href="https://gorgeousnails.herokuapp.com/" target="_blank">To Site</a>
          <a href="https://github.com/khuynh16/Gorgeous_Nails_PoS" target="_blank">More Details</a>
        </div>
      </div>
    </div>
    <div class="thirdProject">
      <img class="projectImage" src="../../../assets/images/old-portfolio.png" alt="">
      <div class="overlay">
        <div class="overlayText">Previous portfolio website</div>
        <div class="buttons">
          <a href="http://kelvinahuynh-outdated.com.s3-website.us-east-2.amazonaws.com/" target="_blank">To Site</a>
          <a href="https://github.com/khuynh16/portfolio_website" target="_blank">More Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
