<div class="container">
  <div class="topLinks">
    <a class="resumelink" href="../../../assets/Kelvin Huynh Resume.pdf" target="_blank">
      <i class="resume fas fa-file-alt fa-2x"></i>
      <p class="resumeText">Resume</p>
    </a>
    <a class="link" href="https://www.linkedin.com/in/kelvinahuynh/" target="_blank">
      <i class="linkedin fab fa-linkedin fa-lg"></i>
      <p class="linkedinText">LinkedIn</p>
    </a>
    <a class = "link" href="https://github.com/khuynh16" target="_blank">
      <i class="github fab fa-github-square fa-2x"></i>
      <p class="githubText">GitHub</p>
    </a>
  </div>
  <div class="intro-message">
    <p class="name-message">Hi, I'm Kelvin!</p>
    <p class="intro-content">I like to create things and turn thoughts into visual reality. With a laptop and a boba tea in hand,
       I tackle challenges one day at a time.</p>
  </div>
</div>
