.container {
  display: flex;
  width: 95%;
  height: 80vh;
  border: 2px solid black;
  border-bottom: 0;
  margin: auto;
  background-color: white;
  background-image: linear-gradient(white 0%, white 80%, #FFF5BA);
}

.intro-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 70%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.name-message {
  font-weight: bold;
  margin-bottom: 40px;
}
