<div class="container">
  <div class="topLinks">
    <i class="resume fas fa-file-alt fa-2x"></i>
    <p class="resumeText">Resume</p>
    <i class="linkedin fab fa-linkedin fa-lg"></i>
    <p class="linkedinText">LinkedIn</p>
    <i class="github fab fa-github-square fa-2x"></i>
    <p class="githubText">GitHub</p>
  </div>
  <div class="intro-message">
    <p class="name-message">Hi, I'm Kelvin!</p>
    <p class="intro-content">I like to create things and turn thoughts into visual reality. With a laptop and a boba tea in hand,
       I tackle challenges one day at a time.</p>
  </div>
</div>
